
    * {
        background-color: black;
        color: whitesmoke ;
    }
    h1{
        text-align: center;
        font-size: xxx-large;
    }
    .inf , .timer , .buttons {
        align-items: first baseline;
        display: flex;
        justify-content: center;
    }
    .inf p,.timer p{
        display: flex;
        flex-wrap: wrap;
        margin-right: 2%;
        font-size: xxx-large;
        border-radius: 50%;
        border-color: red;
        
    }
    .buttons button{
        font-size:xxx-large;
        border-radius: 50%;
        border-color: blue;
        
    } 
    #startbtn{
        border-radius: 100%;
        border-color: blue;
        border-top-left-radius: 0%;
        
    }